@model IEnumerable<Roupa.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h1 class="mb-4 mt-4">@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Criar nova venda</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CadastroDeVendas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroDeVendas.NotaVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary m-1" asp-route-id="@item.VendaId">Editar</a>
                    <a asp-action="Details" class="btn btn-secondary m-1" asp-route-id="@item.VendaId">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@item.VendaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
